/*
  Place your CSS here
*/
@media (max-width: 640px) {
  .index_img {
    width: 100%
  }
  .student_id {
    visibility: hidden;
    display: block
  }
  .student_name {
    text-align: center
  }
}

@media (min-width: 640px) {
  .index_img {
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .student_name {
    text-align: center
  }
  .student_id {
    text-align: center
  }
}

.col-xs-6 {
  font-family: arial;
  text-align: center
}

.item_list_title {
  font-family: arial;
  text-align: center
}

.item_list_price {
  font-family: arial;
  text-align: center
}

.item_detail_header {
  background-color: #EFF4F9
}

.item_detail_title {
  font-family: arial;
  text-align: left
}

.item_detail_subtitle {
  font-family: arial;
  color: #5E696E;
  font-size: 10px;
}

.item_detail_img {
  height: 80px;
  width: 80px
}

.item_detail_info {
  font-family: arial;
  font-size: 12px;
  text-align: left
}

.comment_subtitle {
  font-family: arial;
  color: #5E696E;
  font-size: 10px;
}

.comment_message {
  font-family: arial;
  font-size: 12px;
}
